.button.primary {
    background-color: #bf9325;
    box-shadow: none !important;
    color: #fff !important;
}

button.primary:hover,
.button.primary:hover {
    background-color: #d7cf94 !important;
}

.button.primary:active {
    background-color: #414244 !important;
}

#ma_mission_photo h2 {
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#ma_mission_photo p {
    font-family: 'Glacial Indifference';
}

#ma_mission_photo blockquote {
    font-size: 20px;
}

#ma_mission_photo img {
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    #ma_mission_photo img {
        margin-left: 0;
    }
}

blockquote {
    color: #bf9325;
    border-left: solid 4px #bf9325;
}

.wrapper.style5 blockquote {
    border-color: #bf9325;
}

.wrapper.style5 p {
    font-family: 'Glacial Indifference';
}

.wrapper.style5 a {
    font-family: 'Glacial Indifference';
}

#contact_address h2 {
    color: #242424;
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#contactez_moi_txt h2 {
    color: #242424;
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#contactez_moi_txt p {
    font-family: 'Glacial Indifference';
}

#confidence_txt h2 {
    color: #242424;
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;;
}

@media (min-width: 601px) {
    #confidence-container {
        text-decoration: none;
        outline: none;
        border: none;
    }

    #confidence-image {
        #max-width: 600px;
        height: 150px;
        display: block;
    }
}

/* Style pour les écrans de 600px et moins */
@media (max-width: 600px) {
    #confidence-container {
        text-decoration: none;
        outline: none;
        border: none;
    }

    #confidence-image {
        max-width: 600px;
        width: 100%;
        display: block;
    }
}

#video_manue_txt h2 {
    color: #242424;
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#video_manue_txt p {
    font-family: 'Glacial Indifference';
}

#three h2 {
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#three p {
    font-family: 'Glacial Indifference';
}

/*.features  li.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.features  li.icon::before {
    font-size: 32px;
    min-width: 32px;
}*/

#contact_adresse_txt h2 {
    color: #242424;
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#contact_adresse_txt p {
    font-family: 'Glacial Indifference';
}

#contact_adresse_txt.wrapper.style5 {
    padding-top: 1em;
}

.features li:before {
    color: #ffffff;
}

.wrapper.style3 {
    /* background-color: #6D6354; */
    background-color: #eecab2;
    color: #ffffff;
}

.wrapper.style4 h2 {
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}

.wrapper.style4 p {
    font-family: 'Glacial Indifference';
}

#menu {
    #background: #B2A894;
    background: #bf9325;
    font-family: "georgia";
    #color: #bf9325;
}

/* Footer article */

/* Landing */

body.landing #footer {
    /* background-color: rgba(29, 36, 42); */
    background-color: #242424;
}

body.is-mobile.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #footer {
    /* background-color: #1d242a; */
    background-color: #242424;
}

/*.cookie-box {
    background-color: #222;
}*/

#footer .footer_menu {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    letter-spacing: 0.225em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

#footer .footer_menu li {
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .footer_menu li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .footer_menu li a {
    color: inherit;
}

#footer .footer_menu li a:hover {
    color: #fff;
}

#footer li {
    font-family: 'Glacial Indifference';
}

@media screen and (max-width: 480px) {
    #footer .footer_menu li {
        border: 0;
        display: block;
        line-height: 1.65em;
        margin: 0;
        padding: 0.5em 0;
    }
}

body {
    background: #414244;
}

/* FONT */
body,
input,
select,
textarea {
    /* color: #fff; */
    /* font-family: ""; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
}

#banner h2 {
    font-family: "Abril Fatface";
    font-size: 250%;
    /*color: #bf9325;*/
}

#banner p {
    text-transform: none;
    font-family: 'Glacial Indifference';
}
#private_service p {
    font-family: 'Glacial Indifference';
}

#private_service h2 {
    font-family: "georgia";
    color: #242424;
    font-size: 20px;
    letter-spacing: 0.11em;
}

#private_service_prices h2 {
    font-family: "georgia";
    color: #242424;
    font-size: 20px;
    letter-spacing: 0.11em;
}

.wrapper.style2 {
    background-color: #f3e8d9;
}

#banner:after {
    background: #dbcfb6;
}

#header {
    background: #242424;
    font-family: "Abril Fatface";
    font-size: 20px;
    letter-spacing: 0.11em;
}

#confidence_txt header.major {
    margin: 0 0 1em 0;
}

.termsfeed-com---pc-dialog .cc-cp-body-tabs {
    min-width: 300px;
}

@media screen and (max-width: 600px) {
    .termsfeed-com---nb-simple {
        max-height: 30%;
    }
}


@media (min-width: 601px) {
    #video-container {
        text-align: center;
    }

    #video-image {
        max-width: 600px;
        height: 315px;
        width: 100%;
    }
}

/* Style pour les écrans de 600px et moins */
@media (max-width: 600px) {
    #video-image {
        max-width: 600px;
        height: 215px;
        width: 100%;
    }
}

#pricing_div h4,
#pricing_div b,
#pricing_div p,
#pricing_div li {
    /*color: white;*/
    font-family: 'Glacial Indifference';
}

#pricing_div h2 {
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
}