<section id="confidence" class="wrapper style5">
    <div class="inner" id="confidence_txt">
        <header class="major">
            <h2>Ils m'ont fait confiance</h2>
        </header>

        <div id="confidence-container">
            <a href="https://www.google.com/search?sca_esv=9cef7b5eea840559&hl=fr-FR&biw=1189&bih=925&si=APYL9bs7Hg2KMLB-4tSoTdxuOx8BdRvHbByC_AuVpNyh0x2KzRe-FFrW5obGuYG7RZqayFjMX75Ypzhpemzvng1-3cU26X2xnEN3N8CWJjjOxlZWE_MEeAbtcIRYeX4N2AswI4LYOrCH&q=Int%C3%A9rieur+D%C3%A9co+Avis&sa=X&ved=2ahUKEwjGt8PB0bGNAxUNdaQEHcm1KCMQ0bkNegQILhAE" target="_blank">
             <img id="confidence-image" src="/images/google_left.png" alt="avis deco">
            </a>
        </div>
    </div>
</section>