{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.contact }}
{{ if .enable }}
<section id="contact_adresse_txt" class="wrapper style5">
    <div class="inner" id="contact_address">
        <header class="major">
            <h2>Votre projet accompagné par une architecte d’intérieur et décoratrice commence <a
                    href="https://interieurdeco.fr/contact/" style="color:#BF9326;">ICI</a> </h2>
            <!-- {{ partial "body_text.html" (dict "context" . "md" $md) }} -->
            <p style="font-size: 15px;">
                Découvrez dès maintenant mes prestations et <a
                    href="https://interieurdeco.fr/prestation-particulier/">tarifs de décoratrice d’intérieur</a>
                adaptés à votre projet et à votre budget.</br>
                Contactez-moi pour en savoir plus et pour toute demande de devis.
            </p>

            <p style="font-size: 15px;">
                À distance ou à domicile ?</br>
                Je suis basée à Lille. Ce n’est pas&nbsp;le cas de votre projet ? J’ai la solution&nbsp;!</br>
                Par email, au téléphone, en visio : la distance n’est pas un frein à mon activité.</br>
            </p>
        </header>

        <header class="major">
            <h2>Info</h2>
            <p class="icon solid fa-phone">&nbsp;&nbsp;<a href="tel:0674602706">06 74 60 27 06</a></p>
            <p class="icon solid fa-envelope">&nbsp;&nbsp;<a
                    href="mailto:contact@interieurdeco.fr">contact@interieurdeco.fr</a></p>
        </header>

        <header class="major">
            <h2>Zones d'intervention</h2>
            <p>Je serai ravie de vous apporter mes conseils en décoration à Lille et sa métropole
                :<br>
            <p class="intervention-list">
                Allennes-les-Marais, Annoeullin, Anstaing, Armentières, Aubers,
                Baisieux,
                La Bassée, Bauvin,
                Beaucamps-Ligny, Bois-Grenier, Bondues, Bousbecque, Bouvines, Capinghem, Carnin, La
                Chapelle-d’Armentières, Chéreng, Comines, Croix, Cysoing, Deûlémont, Don, Emmerin, Englos,
                Ennetières-en-Weppes,
                Erquinghem-le-Sec, Erquinghem-Lys, Escobecques, Faches-Thumesnil, Forest-sur-Marque, Fournes-en-Weppes,
                Frelinghien, Fretin, Fromelles, Gruson, Hallennes-lez-Haubourdin, Halluin, Hantay, Haubourdin, Hem,
                Herlies, Houplin-Ancoisne, Houplines, Illies, Lambersart, Lannoy, Le Maisnil, Leers, Lesquin, Lezennes,
                Lille, Linselles, Lompret, Loos, Lys-lez-Lannoy, La Madeleine, Marcq-en-Baroeul, Marquette-lez-Lille,
                Marquillies, Mons-en-Baroeul, Mouvaux, Neuville-en-Ferrain, Noyelles-lès-Seclin, Pérenchies,
                Péronne-en-Mélantois, Prémesques, Provin, Quesnoy-sur-Deûle, Radinghem-en-Weppes, Ronchin, Roncq,
                Roubaix, Sailly-lez-Lannoy, Sainghin-en-Mélantois, Sainghin-en-Weppes, Saint-André-lez-Lille, Salomé,
                Santes, Seclin, Sequedin, Templemars, Templeuve-en-Pévèle, Toufflers, Tourcoing, Tressin, Vendeville,
                Verlinghem,
                Villeneuve-d’Ascq, Wambrechies, Wannehain, Warneton, Wasquehal, Wattignies, Wattrelos, Wavrin,
                Wervicq-Sud, Wicres,
                Willems
            </p>
            </p>
        </header>
    </div>
</section>
{{ end }}
{{ end }}