<section id="home-testimonial" class="home-section">
    <div class="testimonial-container">
        <p class="testimonial-quote">Votre satisfaction est ma plus belle récompense. Merci de votre confiance !</p>
        <div class="testimonial-author">
            <img src="/images/google_left.jpeg" alt="Avis Google">
            <span>Avis clients sur Google</span>
            <a href="https://www.google.com/search?q=Int%C3%A9rieur+D%C3%A9co+Avis" target="_blank" rel="noopener">Voir les avis</a>
        </div>
    </div>
</section>
