{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.two }}
{{ if .enable }}
<section id="ma_mission_photo" class="wrapper alt style2">
    {{ range .section }}
    <section class="spotlight">
        {{ if .img }}
        <div class="image">
            <img style="width: 390px; height: 390px; " src="{{ .img | relURL }}" {{ with .img_alt }}alt="{{ . }}" {{ end }} />
        </div>
        {{ end }}
        <div class="content">
            <p>{{ .title | safeHTML }}</p>
            <h2>Optimiser, aménager et décorer</h2>
            {{ partial "body_text.html" (dict "context" . "md" $md) }}
            <div class="projet-button">
                <a href="https://interieurdeco.fr/realisations-particuliers/" class="button mission-projet-btn">Voir mes projets</a>
            </div>
            <br>
        </div>
    </section>
    {{ end }}
</section>
{{ end }}
{{ end }}