<section id="mes_services" class="wrapper style5">
    <div class="inner">
        <header class="major">
            <h2>Mes services&nbsp;: Des solutions sur mesure</h2>
        </header>
        <ul class="services-list">
            <li>Conseil déco à votre domicile</li>
            <li>Aménagement et rénovation de votre intérieur (cuisine, salle de bain, salon ...)</li>
            <li>Création de mobilier sur mesure adapté à vos besoins et votre style de vie</li>
            <li>Aide à la consultation des artisans et suivi esthétique des travaux</li>
        </ul>
    </div>
</section>
