{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.video }}
<section class="wrapper style5 special" id="video_manue_txt">
    <div class="inner">
        <header class="major">
            <h2>{{ .title | safeHTML}}</h2>
        </header>
    </div>

    <div align="center">
        <p>
            Découvrez mon univers et ma manière de concevoir chaque projet, que ce soit pour une rénovation, un réaménagement ou un simple conseil en décoration. <br><br>
            VISITE DECO - Octobre 2022 - Retrouvez l’intégralité d’une transformation d’intérieur
        </p>
    </div>

    <div id="video-container">
        <a href="https://youtu.be/QcKUNv8OBGQ?si=r-H_emOKzzB3crLZ" target="_blank">
            <img id="video-image" src="/images/visite-deco-youtube.webp" alt="visite deco">
        </a>
    </div>


    <div align="center">
        </br></br>
        <p>
            AMENAGO - Place des Experts - Novembre 2023 - Interview de présentation
        </p>
    </div>

    <div id="video-container">
        <a href="https://www.instagram.com/reel/Cz_qOWVMkbs" target="_blank">
            <img id="video-image" src="/images/amenago-instagram.webp" alt="salon amenago 2023">
        </a>
    </div>

</section>
{{ end }}
