{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.video }}
<section class="wrapper style5 special" id="video_manue_txt">
    <div class="inner">
        <header class="major">
            <h2>{{ .title | safeHTML}}</h2>
        </header>
    </div>

    <div align="center">
        <p>
            VISITE DECO - Octobre 2022 - Retrouvez l’intégralité d’une transformation d’intérieur
        </p>
    </div>

    <iframe style="max-width: 600px; height: 315px; width: 100%;"
        src="https://www.youtube-nocookie.com/embed/QcKUNv8OBGQ?controls=0">
    </iframe>

    <div align="center">
        </br></br>
        <p>
            AMENAGO - Place des Experts - Novembre 2023 - Interview de présentation
        </p>
    </div>

    <div id="instagram-container">
        <a href="https://www.instagram.com/reel/Cz_qOWVMkbs" target="_blank">
            <img id="instagram-image" src="/images/amenago-instagram.jpg" alt="salon amenago 2023">
        </a>
    </div>

</section>
{{ end }}