{{ partial "header.html" . }}

{{ partial "stylesheets_custom.html" . }}

<link rel="stylesheet" href="{{ (resources.Get "css/homepage.css" | minify | fingerprint "sha512").RelPermalink }}">

{{ partial "home_hero.html" . }}

{{ partial "home_intro.html" . }}

{{ partial "home_services.html" . }}

{{ partial "home_realisations.html" . }}

{{ partial "home_about.html" . }}

{{ partial "home_testimonial.html" . }}

{{ partial "home_video.html" . }}

{{ partial "home_contact.html" . }}

{{ partial "footer_custom.html" . }}
