<div style="display: flex;">
    <div style="flex: 1; margin: 10px;">
        <div>
            <h2 style="text-align: center;"><b>Coaching «&nbsp;Coup de pouce&nbsp;»<br></b></h2>
            <h4 style="text-align: center;">290 €</h4>
            <p>Pendant 1h30, à votre domicile :</p>
            <ul>
                <ul>
                    <li>échange sur votre mode de vie, vos besoins et envies</li>
                    <li>proposition d’ambiance, d’achat de mobilier et déco, choix des couleurs et matériaux</li>
                </ul>
            </ul>
            <p>Pendant le rdv, je vous conseille de
                prendre des notes afin d’appliquer ces conseils à la suite du coaching.</p>
            <p></p>
            <p><em>* Tarif sur une base tarifaire pour une pièce&nbsp; </em></p>
        </div>
    </div>
    <div style="flex: 1; margin: 10px;">
        <div>
            <h2 style="text-align: center;"><b>Conception d’Intérieur</b></h2>
            <h4 style="text-align: center;"><i>sur devis</i></h4>
            <p>Nous allons traiter votre projet dans sa globalité pour concevoir votre intérieur jusque dans ses
                moindres détails. Comme chaque projet est unique, contactez-moi pour un devis personnalisé.</p>
            <p>En fonction de votre besoin, je vous accompagne pour :</p>
            <ul>
                <ul>
                    <li>Trouver votre style
                        <ul>
                            <li>présenté sous forme de planche d’ambiance</li>
                        </ul>
                    </li>
                    <li>Étudier l’aménagement
                        <ul>
                            <li>présenté sous forme de plan d’implantation et visuels 3D</li>
                        </ul>
                    </li>
                    <li>Choisir les couleurs et les matériaux</li>
                    <li>Créer du mobilier sur-mesure</li>
                    <li>Créer votre shopping list</li>
                </ul>
            </ul>
            <p>Vous souhaitez que je vous accompagne dans la consultation des
                artisans et dans le suivi esthétique des
                travaux&nbsp; pour être assuré de la bonne cohérence de l’ensemble ? C’est possible !</p>
            <p>** <em>Les frais de déplacements (métropole lilloise) et les métrés sont inclus.</em></p>
        </div>
    </div>
</div>