<div>
    </br>
    <div style="background-color: #f3e8d9; padding: 2%;" id="pricing_div">
        <h2 style="text-align: center;"><b>Coaching déco «&nbsp;Coup de pouce&nbsp;»<br></b></h2>
        <h4 style="text-align: center;">250 €</h4>
        <p align="justify">Pendant 1h à 1h30, à votre domicile (Lille et métropole lilloise), visite conseil décoration :</p>
        <ul>
            <ul>
                <li>échange sur votre mode de vie, vos besoins et envies</li>
                <li>proposition d’ambiance, d’achat de mobilier et déco, choix des couleurs et matériaux</li>
            </ul>
        </ul>
        <p align="justify">Vous avez des questions et avez besoin de confirmer vos choix d'aménagement et de décoration ? Ce coaching en aménagement d’intérieur sur mesure est conçu pour vous donner des bases solides et des idées claires pour transformer votre pièce.</p>
        <p align="justify">Pendant le rdv, je vous conseille de
            prendre des notes afin d’appliquer ces conseils à la suite du coaching.</p>
        <p align="justify"></p>
        <ul class="actions special" >
            <li><a href="mailto:contact@interieurdeco.fr" class="button primary">Je prends rendez-vous</a></li>
        </ul>
    </div>
    </br>
    <div>
        <div style="background-color: #eecab2; padding: 2%;" id="pricing_div">
            <h2 style="text-align: center;"><b>Conception d’Intérieur</b></h2>
            <h4 style="text-align: center;"><i>sur devis</i></h4>
            <p align="justify">Vous avez un projet d’aménagement d’intérieur à Lille ou dans le Nord ? En tant que décoratrice, je vous aide à restructurer et embellir vos espaces dans le moindre détail, dans le respect de vos envies et de votre budget. Nous allons ainsi traiter votre projet dans sa globalité.</p>
            <p align="justify">En fonction de votre besoin, je vous accompagne pour :</p>
            <ul>
                <ul>
                    <li>Trouver votre style présenté sous forme de planche d’ambiance </li>
                    <li>Étudier l’aménagement présenté sous forme de plan d’implantation et visuels 3D </li>
                    <li>Choisir les couleurs et les matériaux</li>
                    <li>Créer du mobilier sur-mesure</li>
                    <li>Créer votre shopping list</li>
                </ul>
            </ul>
            <p align="justify">Vous souhaitez que je vous accompagne dans la consultation des
                artisans et dans le suivi esthétique des
                travaux&nbsp; pour être assuré de la bonne cohérence de l’ensemble ? C’est possible !</p>
            <p align="justify">Besoin d’un devis clair pour connaître le tarif de votre décoratrice d’intérieur à Lille ou dans le Nord ? Contactez-moi pour une proposition sur mesure.</p>
            <ul class="actions special" >
                <li><a href="mailto:contact@interieurdeco.fr" class="button primary">Je demande un devis</a></li>
            </ul>
        </div>
    </div>
    </br>
    <div style="background-color: #d7a285; padding: 2%;" id="pricing_div">
        <h2 style="text-align: center;"><b>Sélection Déco<br></b></h2>
        <h4 style="text-align: center;">À partir de 60 €</h4>
        <p align="justify">Prestation à distance - Je shoppe pour vous !</p>
        <ul>
            <ul>
                <li>À la recherche d'un luminaire, d'un meuble, ... Vous m'envoyez par mail des photos de votre pièce en m'expliquant votre problématique.</li>
                <li>On échange par mail ou par téléphone.</li>
            </ul>
        </ul>
        <p align="justify">Je vous fais une sélection et vous envoie une fiche avec photos, descriptif, tarif et lien pour acheter en un seul clic.</p>
        <p align="justify"></p>
        <ul class="actions special" >
            <li><a href="mailto:contact@interieurdeco.fr" class="button primary">Je demande un devis</a></li>
        </ul>
    </div>
</div>
