<div>
    </br>
    <div style="background-color: #dbcfb6; padding: 2%;" id="pricing_div">
        <h2 style="text-align: center;"><b>Coaching «&nbsp;Coup de pouce&nbsp;»<br></b></h2>
        <h4 style="text-align: center;">290 €</h4>
        <p align="justify">Pendant 1h30, à votre domicile (Lille et métropole lilloise) :</p>
        <ul>
            <ul>
                <li>échange sur votre mode de vie, vos besoins et envies</li>
                <li>proposition d’ambiance, d’achat de mobilier et déco, choix des couleurs et matériaux</li>
            </ul>
        </ul>
        <p align="justify">Ce coaching en aménagement d’intérieur sur mesure est conçu pour vous donner des bases solides et des idées claires pour transformer votre pièce.</p>
        <p align="justify">Pendant le rdv, je vous conseille de
            prendre des notes afin d’appliquer ces conseils à la suite du coaching.</p>
        <p align="justify"></p>
        <p align="justify"><em>* Tarif sur une base tarifaire pour une pièce&nbsp; </em></p>
    </div>
    </br>
    <div>
        <div style="background-color: #81796a; padding: 2%;" id="pricing_div">
            <h2 style="text-align: center;"><b>Conception d’Intérieur</b></h2>
            <h4 style="text-align: center;"><i>sur devis</i></h4>
            <p align="justify">Vous avez un projet d’aménagement d’intérieur à Lille ou dans le Nord ? En tant que décoratrice, je vous aide à restructurer et embellir vos espaces dans le moindre détail, dans le respect de vos envies et de votre budget. Nous allons ainsi traiter votre projet dans sa globalité.</p>
            <p align="justify">En fonction de votre besoin, je vous accompagne pour :</p>
            <ul>
                <ul>
                    <li>Trouver votre style présenté sous forme de planche d’ambiance </li>
                    <li>Étudier l’aménagement présenté sous forme de plan d’implantation et visuels 3D </li>
                    <li>Choisir les couleurs et les matériaux</li>
                    <li>Créer du mobilier sur-mesure</li>
                    <li>Créer votre shopping list</li>
                </ul>
            </ul>
            <p align="justify">Vous souhaitez que je vous accompagne dans la consultation des
                artisans et dans le suivi esthétique des
                travaux&nbsp; pour être assuré de la bonne cohérence de l’ensemble ? C’est possible !</p>
            <p align="justify">Besoin d’un devis clair pour connaître le tarif de votre décoratrice d’intérieur à Lille ou dans le Nord ? Contactez-moi pour une proposition sur mesure.</p>
            <p align="justify">** <em>Les frais de déplacements (métropole lilloise) et les métrés sont inclus.</em></p>
        </div>
    </div>
</div>
