<style>
  .flex-container h2 {
    font-family: "georgia";
    font-size: 20px;
    letter-spacing: 0.11em;
  }

  .flex-container p {
    font-family: 'Glacial Indifference';
  }

  .flex-container a {
    font-family: 'Glacial Indifference';
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .flex-item {
    flex: 1;
    margin: 10px;
    max-width: 450px;
  }

  .flex-item img {
    max-width: 100%;
    height: auto; /* Rend l'image proportionnelle */
    max-height: 300px; /* Limite la hauteur maximale de l'image */
  }

  @media (max-width: 767px) {
    .flex-item {
      flex: 1 0 100%; /* Change la flexibilité pour passer à 100% de largeur sur les petits écrans */
    }
    img {
        max-height: none; /* Supprime la limitation de la hauteur sur les petits écrans */
    }
    .flex-container {
        flex-direction: column; /* Change la direction en colonne sur les petits écrans */
      }

      .flex-item {
        margin-bottom: 20px; /* Ajoute de l'espace entre le texte et l'image sur les petits écrans */
      }
  }
</style>

<div>
  {{ .Inner }}
</div>